/* body {
  overflow-y: scroll;
} */

.homeDivContainer {
  position: relative;
  height: 950px;
  overflow: hidden;
}

.outerGridDiv {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: stretch;
  align-content: stretch;
  grid-template-areas:
    "header1 header2 header3"
    "row2left row2middle row2right"
    "row3left row3middle row3right"
    "row4left row4middle row4right"
    "footer footer footer";
}



.homeBackground__romeImage {
  width: 100%;
}



#ulNavLinkWrapperDiv {
  grid-area: header3;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-self: center; */
}

#eben {
  grid-area: header3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 75px;
}

#login-form, #signup-form {
  grid-area: header3;
  margin-top: 60px;
  margin-right: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FFF;
}

.login-label-div, #login-form-button-div {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.signup-form-label-div, #signup-form-button-div {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

#signup-form input, #login-form input {
  margin-left: 10px;
}

#ulNavLinkWrapperDiv {
  /* display: flex; */
}

#loggedOutNavLinks {
  padding: 0 25px 0 0;
  /* text-align: center; */
  margin-top: 25px;
  list-style-type: none;
}

.link {
  color: #FFF;
  font-size: larger;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

#homePageButton {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.carousel {
  grid-area: footer;
  width: 95%;
  height: 275px;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

.carousel .switchLeft,
.carousel .switchRight {
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  /* background-color: lightgreen; */
  font-family: sans-serif;
  top: 0;
  z-index: 3;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
}

.carousel .switchLeft {
  position: absolute;
  left: -50px;
}

.carousel .switchRight {
  position: absolute;
  right: -50px;
}

.carouselBox {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
  /* background-color: #232323; */
  /* background-color: #404040; */
  /* background-color: black; */
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: solid;
  border-width: 5px;
  border-color: #E8E8E8;
}

.carouselBox img {
  min-width: 147px;
  max-width: 147px;
  height: 175px;
  background-size: cover;
  background-color: red;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselBox img:hover {
  transform: scale(1.25,1.25);
  z-index: 5;
}

#profile-logout-link {
  margin-top: 70px;
  margin-right: 55px;
}

.profile-dropdown {
  padding: 0 25px 0 0;
  margin-top: 25px;
  margin-right: 140px;
}

.logout-button-div {
  grid-area: header3;
  display: flex;
  justify-content: flex-end;
}

#medieval-name-logo {
  grid-area: header1;
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 110px;
  color: #FFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa-chess-rook {
  margin-right: 10px;
}

/* #logged-in-username-div {
  grid-area: header3;
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  margin-right: 55px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */


/* .fa-globe {
  height: 15px;
  width: 15px;
} */




/* .homePageButton {
  padding: 0;
  margin: 0;
} */

/* .test {
  width: 100px;
  height: 3000px;
  background-color: red;
} */
