/* body {
  overflow-y: scroll;
} */

.homeDivContainer {
  position: relative;
  height: 950px;
  overflow: hidden;
}

.outerGridDiv {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: stretch;
  align-content: stretch;
  grid-template-areas:
    "header1 header2 header3"
    "row2left row2middle row2right"
    "row3left row3middle row3right"
    "row4left row4middle row4right"
    "footer1 footer2 footer3";
}



.homeBackground__romeImage {
  width: 100%;
}



#ulNavLinkWrapperDiv {
  grid-area: header3;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-self: center; */
}

#eben {
  grid-area: header3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

#ulNavLinkWrapperDiv {
  /* display: flex; */
}

#loggedOutNavLinks {
  padding: 0 25px 0 0;
  /* text-align: center; */
  margin-top: 80px;
  list-style-type: none;
}

.link {
  color: #FFF;
  font-size: larger;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

#homePageButton {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* .fa-globe {
  height: 15px;
  width: 15px;
} */




/* .homePageButton {
  padding: 0;
  margin: 0;
} */

/* .test {
  width: 100px;
  height: 3000px;
  background-color: red;
} */
